<table class="table table-bordered table-hover" style="margin-top: 2%;">
    <th>Google Calendar
        <small ng-repeat="calendar in calendars">
            <label style="color:{{calendar.color}};">
                <input type="checkbox" ng-model="calendar.visible" ng-change="saveProjects()" value="calendar.summary">
                <span></span>
            </label>
            {{calendar.summary}}
        </small>
    </th>
    <tbody>
        <tr ng-repeat="event in events | orderBy:'epochTime' | stringContainsAllOfString:search:'searchKey'" event>
        </tr>
    </tbody>
</table>
