<table class="table table-bordered" style="table-layout:fixed;">
    <thead>
        <th>Todoist
            <small ng-repeat="project in projects">
            <label style="color:{{project.color}};">
                <input type="checkbox" ng-model="project.visible" ng-change="saveProjects()" value="project.name"><span></span>
            </label>
            {{project.name}}
        </small>
        </th>
    </thead>
</table>
<div style="overflow-y:auto; height:66%; margin-top:-22px;">
    <table class="table table-bordered table-hover" style="table-layout:fixed">
        <tbody>
            <tr ng-repeat="item in items | stringContainsAllOfString:search:'searchKey' | orderBy:['sortDate', 'project_name', 'date_added']" task ng-mouseenter="mouseenter()" ng-mouseleave="mouseleave()" ng-show="search.length > 0 || projects[item.project_id].visible">
            </tr>
        </tbody>
    </table>
</div>
