<html ng-app="endo">

<head>
    <title>
        Endo
    </title>
    <!-- build:css combined.min.css -->
    <link rel="stylesheet" type="text/css" href="./css/bootstrap-solarized-light.css">
    <!-- <link rel="stylesheet" type="text/css" href="bootstrap.css"> -->
    <link rel="stylesheet" type="text/css" href="./css/icons.css">
    <!-- endbuild -->
    <!-- build:js combined.min.js -->
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="bower_components/angular-stringcontains/angular-stringcontains.js"></script>
    <script type="text/javascript" src="bower_components/node-uuid/uuid.js"></script>
    <script type="text/javascript" src="bower_components/chrono/chrono.js"></script>
    <script type="text/javascript" src="bower_components/angular-timeago/dist/angular-timeago.js"></script>
    <script type="text/javascript" src="bower_components/mousetrap/mousetrap.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <!-- endbuild -->
</head>

<body ng-controller="MainController" bgcolor="#FDF6E3">
    <div ng-show="token" style="width:98%; margin:0 auto; margin-top:1%;">
        <div style="width:50%; margin: 0 auto;">
            <input type="text" style="width: calc(100% - {{search ? '64' : '0'}}px)" class="form-control pull-left mousetrap" placeholder="Search" ng-model="search" id="searchField">
            <input type="button" style="width:56px;" class="btn btn-default pull-right" value="Add" ng-click="add()" ng-show="search">
            <br><small ng-hide="search" class="pull-right">[alt-s]</small><small ng-show="search" class="pull-right">[alt-enter]</small>
            <br>
            <table class="table table-bordered table-hover" style="margin-top: 2%;">
                <th>Todoist
                    <small ng-repeat="project in projects">
                    <label style="color:{{project.color}};">
                        <input type="checkbox" ng-model="project.visible" ng-change="saveProjects()" value="project.name"><span></span>
                    </label>
                    {{project.name}}
                </small>
                </th>
                <tbody>
                    <tr ng-repeat="item in items | stringContainsAllOfString:search:'searchKey'" row ng-mouseenter="mouseenter()" ng-mouseleave="mouseleave()" ng-show="search.length > 0 || projects[item.project_id].visible">
                    </tr>
                </tbody>
            </table>
        </div>
        <center>
            Last Synced: {{last_sync | timeAgo}}
            <a href="" ng-click="todoistGet()">Sync</a>
            <br> {{email}} <a href="" ng-click="resetAll()">Logout</a>
            <br> For edits, visit <a href="https://todoist.com/app">Todoist</a>
        </center>
    </div>
    <form ng-hide="token" class="form-horizontal" ng-submit="login()" style="margin-top:10%; width:30%; margin:0 auto">
        <h3><center>A <a href="https://todoist.com/app">Todoist</a> new tab page</center></h3>
        <center>by <a href="https://github.com/enzosv">enzosv</a></center>
        <div class="alert alert-danger" role="alert" ng-show="loginError">
            {{loginError}}
        </div>
        <div class="form-group">
            <label for="inputEmail3">Email</label>
            <input type="email" class="form-control" placeholder="Email" ng-model="email">
        </div>
        <div class="form-group">
            <label for="inputPassword3">Password</label>
            <input type="password" class="form-control" placeholder="Password" ng-model="psswd">
        </div>
        <center>
            <button type="submit" class="btn btn-default">Sign in</button>
            <a href="https://todoist.com/Users/showRegister" class="btn btn-default">Sign up</a>
        </center>
    </form>
    
</body>

</html>
