<html ng-app="endo">

<head>
    <title>
        Endo
    </title>
    <!-- build:css combined.min.css -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-solarized-light.css">
    <link rel="stylesheet" type="text/css" href="/css/icons.css">
    <!-- endbuild -->
    <!-- build:js combined.min.js -->
    <script type="text/javascript" src="/bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="/bower_components/angular-stringcontains/angular-stringcontains.js"></script>
    <script type="text/javascript" src="/bower_components/node-uuid/uuid.js"></script>
    <script type="text/javascript" src="/bower_components/chrono/chrono.js"></script>
    <script type="text/javascript" src="/bower_components/angular-timeago/dist/angular-timeago.js"></script>
    <script type="text/javascript" src="/bower_components/mousetrap/mousetrap.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
    <script type="text/javascript" src="/js/MainController.js"></script>
    <script type="text/javascript" src="/js/TodoistDirective.js"></script>
    <script type="text/javascript" src="/js/CalendarDirective.js"></script>
    <script type="text/javascript" src="/js/taskDirective.js"></script>
    <script type="text/javascript" src="/js/eventDirective.js"></script>
    <script type="text/javascript" src="/js/dateService.js"></script>
    <script type="text/javascript" src="/js/calendarService.js"></script>
    <script type="text/javascript" src="/js/todoistService.js"></script>
    <!-- endbuild -->
</head>

<body ng-controller="MainController" id="MainController">
    <div style="width:98%; margin:0 auto; margin-top:1%;" ng-show="loggedIn">
        <div style="width:80%; margin:0 auto;">
            <input type="text" style="width: calc(100% - {{search ? '64' : '0'}}px)" class="form-control pull-left mousetrap" placeholder="Search" ng-model="search" id="searchField">
            <input type="button" style="width:56px;" class="btn btn-default pull-right" value="Add" ng-click="add()" ng-show="search">
            <br><small ng-hide="search" class="pull-right">[alt-s]</small><small ng-show="search" class="pull-right">[alt-enter]</small>
        </div>
        <br>
        <br>
        <div class="row" style: "height:500px;">
            <div class="col-md-6" calendar>
            </div>
            <div class="col-md-6" todoist>
            </div>
        </div>
    </div>
    <center ng-show="loggedIn">
        Last Synced: {{last_sync | timeAgo}}
        <a href="" ng-click="sync()">Sync</a>
        <br> {{email}} <a href="" ng-click="reset()">Logout</a>
        <br> For edits, visit <a href="https://todoist.com/app">Todoist</a>
    </center>
    <form ng-hide="loggedIn" class="form-horizontal" ng-submit="mainLogin()" style="margin-top:10%; width:30%; margin:0 auto">
        <h3><center>A <a href="https://todoist.com/app">Todoist</a> new tab page</center></h3>
        <center>by <a href="https://github.com/enzosv">enzosv</a></center>
        <div class="alert alert-danger" role="alert" ng-show="loginError">
            {{loginError}}
        </div>
        <div class="form-group">
            <label for="inputEmail3">Email</label>
            <input type="email" class="form-control" placeholder="Email" ng-model="email">
        </div>
        <div class="form-group">
            <label for="inputPassword3">Password</label>
            <input type="password" class="form-control" placeholder="Password" ng-model="psswd">
        </div>
        <center>
            <button type="submit" class="btn btn-default">Sign in</button>
            <a href="https://todoist.com/Users/showRegister" class="btn btn-default">Sign up</a>
        </center>
    </form>
    <br>
</body>

</html>
