
<td style="height:64px;opacity:{{item.opacity}}">
    <ul class="middle nav">
        <li>
            <small ng-show="hover" class="pull-right">
                <button ng-click="remove()"style="background-color: transparent; color:red; position:relative; border:none" class="icon-trash-empty"> Delete</button>
            </small>

            <button ng-click="complete()" style="background-color: transparent; color:{{item.color}}; padding-top:8px; border:none; height:42px; width:42px" class="icon-check-empty pull-left" ng-hide="item.completed"></button>
            <button ng-click="uncomplete()" style="background-color: transparent; color:{{item.color}}; padding-top:8px; border:none; height:42px; width:42px" class="icon-check pull-left" ng-show="item.completed"></button>
            {{item.content}}
            <small ng-show="item.due_date"> - {{item.parsedDate}}</small>
            <br><small>{{item.project_name}}</small>
        </li>
    </ul>
</td>
